body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
.quote main {
  margin: 20px;
  padding: 10px;
  opacity: .9;

}
.quote speaker {
  font-weight: bold;
  font-size: 20px;
  margin: 90px;
}
.quote phrasebody {
  font-family: "monospace"
  font-size: 20px;
  margin: 20px;
}
.context {
  font-size: 20px;
  text-align: center;
  border: 3px solid #59585c;
  padding: 15px;
  margin: 10px;
}
.date {
  font-family:"Apple Chancery";
  margin:40px;
  text-align: center;
  font-size: 30px;

}
pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #ddd;
  color: white;
  border: 1px solid #ddd;
}
.pagination a.ellipsis {
  color: white;
  border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  font-family: monospace;
  font-size: large;
  margin: 1.5em 50px;
  padding: 1.25em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
blockquote:after{
  content: no-close-quote;
}


/*
 * "Admin Tables" Formatting
 */

table {
  border-collapse: collapse;
  width: 100%;
}

th,tb {
  text-align: left;
  padding: 8px;
  font-weight:400;
}



tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #ccc;}

input[type=button] {
  background-color: darkred;
  width : 100%;
  border: none;
  color: #444;
  border-radius: 8px;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}
ul[id='admin_layout'] {
  list-style-type: none;
  margin-left: 38%;
  padding: 0;
  overflow: hidden;

}

li[id='admin_layout'] {
  float: left;
  padding:10px;
  margin_left:10px;
  border-radius:6px;
  background-color:  #f2f2f2;

}

li[id='admin_layout'] a {
  display: block;
  color: #444;
  padding: 14px 16px;
  text-decoration: none;
}

li[id='admin_layout']:hover:not(.active) {
  background-color: #ccc;
}



/*
 * Login / Password formatting
 */
input[id=username] {
  height:20px;
}

input[type=password] {
  width: 20;
  padding: 12px 20px;
  margin: 8px ;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height:20px;

}

input[type='submit']{
  background-color: #ccc;
  border: none;
  color: #444;
  border-radius: 8px;
  padding: 8px 16px;
  text-decoration: none;
  font-size:20px;
  cursor: pointer;
  margin-left:3%;

}
input[id='remember_me']{
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  margin-left:15px;

}



/*
 * "Submit Quote" Form Formatting
 */


input[type=text] {
  width: 20;
  padding: 12px 20px;
  margin: 8px ;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 200px;
  height: 50px;
  margin: 0px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  vertical-align: bottom;
}

textarea[id='context']{
  vertical-align:top;
  margin: 20px;
  width: 300px;
  margin-left:10%;
}

label {
    padding: 20px;
}

label[for='datepicker'] {
  margin:2px;
}

a.remove {
  background-color: #ccc;
  width : 20px;
  border: none;
  color: #444;
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none;
  font-size:20px;
  cursor: pointer;
}


.center {
  justify-content: center;
  display: flex;
}

a[id='add'] {
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  font-size:16px;
  margin-top:20px;
  margin-bottom:20px;
  padding: 8px 16px;
  text-decoration: none;
  width:200px;
  text-align:center;
}

button[type=submit] {
  background-color: #ccc;
  width : 100%;
  border: none;
  color: #444;
  border-radius: 8px;
  padding: 16px 32px;
  text-decoration: none;
  font-size:20px;
  cursor: pointer;
  margin-top: 100px;
}

input[type="date"]{
  font-size:16px;
  font-family:"Helvetica Neue";
  font-weight:200;
  text-align:right;
  border-radius:4px;
  margin-left:10%;
  margin-top: 10px;
}
/*
 * Formatting the header area
 */
header {
  background-color: #ccc;
  height: 55px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
  padding: 10px;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Centering the body content
 */
.container {
  width: 1200px;
  margin: 0 auto;
}
div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}
.submenu {
  float: center;
  margin_top: 8px;
}

.dropbtn {
  color: #444;
  font-size: 16px;
  border: none;
  background-color: #ccc;
  width: 100%;
  font-weight: bold;
  padding:10px;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:  #f1f1f1;}


.sub-dropbtn {
  color: #444;
  font-size: 16px;
  border: none;
  background-color:#f1f1f1;
  width: 100%;
  font-weight: bold;
  padding:18px;
  text-align: left;
}

.sub-dropdown {
  position: relative;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.sub-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sub-dropdown:hover .sub-dropdown-content {display: block;}
.sub-dropdown-content a:hover {background-color: #ddd;}
.sub-dropdown:hover .sub-dropbtn {background-color:   #ddd;}
