<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<header2>
  <div>
    <nav id='admin_layout'>
      <ul class="submenu" id='admin_layout'>
        {% if current_user.is_admin %}
        <li id='admin_layout'><a href="{{ url_for('admin_verify',username = current_user.username) }}" id='admin_layout'>Verify Users</a></li>
        <li id='admin_layout'><a href="{{ url_for('admin_manage',username = current_user.username) }}" id='admin_layout'>Manage Quotes</a></li>
        {% endif %}

      </ul>
    </nav>
  </div>
</header2>
<body>
  {% block nav %}{% endblock %}
</body>
{% endblock %}
