<!DOCTYPE html>
<html>
  <head>
    <title>The Quote Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Will's web app</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
             {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
             {% else %}
            <li><a href="{{ url_for('quote_page') }}">Quotes</a></li>
            <li><a href="{{ url_for('submit') }}">Submit</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out </a></li>
            {% endif %}

            {% if current_user.is_admin %}
            <li><a href="{{ url_for('admin_verify',username=current_user.username) }}">Admin Panel </a></li>
            {% endif %}

          </ul>
        </nav></strong>
      </div>
    </header>
      <div class="container">
       {% with messages = get_flashed_messages() %}
       {% if messages %}
       <ul>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
       </ul>
       {% endif %}
       {% endwith %}
       {% block content %}{% endblock %}
      </div>
  </body>
</html>
